/* Style nav bar */
.nav {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #716F81;
    padding: 1vh 2vw;
    box-shadow: 1px 0 3px black;
    margin-bottom: 0;
} 

.nav a {
    text-decoration: none;
}

/* Style main content */
.main {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    overflow-y: auto;
}

.entire-form {
    background-color: #F6AE99;
    margin: 3vh 0;
    width: 50%;
    align-self: center;
    border-radius: 15px;
    box-shadow: 1px 0 3px black;
}

/* Button back to homepage */ 
.nav h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Page Title */
h2 {
    margin-top: 9;
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
}

/* Form Container */
form {
    line-height: 1.2em;
    margin-left: 2vw;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0;
    margin-top: 0;
}

/* Style input form for title, locations, and photo fields */
.title input, .location input, .photo input {
    width: 95%;
    height: 3vh;
    font-family: "Quicksand", sans-serif;
}

/* Style input for description field */
.description textarea {
    height: 10vh;
    width: 95%;
    font-family: "Quicksand", sans-serif;
    resize: none;
}

/* Style dietary preferences and allergies */
.dietary_tags label, .allergies label {
    display: flex;
    flex-direction: row;
}

/* Style labels for dietary preferences and allergies */
.allergies h4, .dietary_tags h4 {
    margin-bottom: 0;
}

/* Style submit button  */
.button {
    display: flex;
    justify-content: center;
}

/* Button styling */
button[type="submit"] {
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    background-color: #716F81;
    font-family: "Quicksand", sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    box-shadow: 1px 0 3px black;
}

.uploadedImage {
    width: 100%; /* or specify a fixed width, e.g., 300px */
    max-width: 200px;
    height: auto;
    border-radius: 8px; /* for rounded corners */
    object-fit: cover; /* scales image to fill without stretching */
}

/* Responsive design for mobile */
@media screen and (max-width: 840px) {
    .dietary_tags {
        display: flex;
        flex-direction: column;
    }

    .allergies {
        display: flex;
        flex-direction: column;
    }

    .entire-form {
        width: 90%;
    }

    form {
        padding: 0 2vw;
    }
}
