/* Style nav bar */
.nav {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #716F81;
    padding: 1vh 2vw;
    box-shadow: 1px 0 3px black;
    margin-bottom: 0;
} 

.nav a {
    text-decoration: none;
}

/* Style main content */
.main {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    overflow-y: scroll;
}

/* Button back to homepage */ 
.nav h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Page Title */
h2 {
    margin-top: 9;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5em;
    color: #333333;
}

/* Form Container */
form {
    line-height: 1.2em;
    margin-left: 2vw;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0;
    margin-top: 0;
}

/* Style input for netid field */
.user_id input {
    width: 130px;
    height: 3vh;
    font-family: "Quicksand", sans-serif;
}

/* Style input form for title, locations, and photo fields */
.title input, .location input, .photo input {
    width: 40%;
    height: 3vh;
    font-family: "Quicksand", sans-serif;
}

/* Style input for description field */
.description input {
    width: 40%;
    height: 10vh;
    font-family: "Quicksand", sans-serif;
}

/* Style dietary preferences and allergies */
.dietary_tags label, .allergies label {
    display: flex;
    flex-direction: row;
}

/* Style labels for dietary preferences and allergies */
.allergies h4, .dietary_tags h4 {
    margin-bottom: 0;
}

/* Style submit button  */
.button {
    display: flex;
    margin-right: 10pc;
    float: left;
}

/* Button styling */
button[type="submit"] {
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff9271;
    font-family: "Quicksand", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Responsive design for mobile */
@media screen and (max-width: 840px) {
    .dietary_tags {
        display: flex;
        flex-direction: column;
    }

    .allergies {
        display: flex;
        flex-direction: column;
    }

    /* Style input for netid field */
    .user_id input {
        width: 50%;
        height: 3vh;
    }

    /* Style input form for title, locations, and photo fields */
    .title input, .location input, .photo input {
        width: 95%;
        height: 3vh;
    }

    /* Style input for description field */
    .description input {
        width: 95%;
        height: 10vh;
    }
    button[type="submit"] {
        float: center;
    }
}
