/* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Quicksand:wght@300..700&display=swap');

/* Page colors: #716F81, #B97A95, #F6AE99, #F2E1C1 */


/* TIGER FOODIES TEAM: */
/*
    Pro tips:
    - The Padding, Width, Margin of objects left to right should
      add to 100 view height (100vh) or 100 view width (100vw)
    
    - You can use !important at the end of styles to have them
      supercede. But use it sparingly! Remember, styles have
      higher priority the farther down the page they are.

    - Be as specific as you can when targeting elements.
      
      For example:
      - ".element-parent .element" to target a group of items
        with the class "element," is better than 
        ".element-parent button," even if all are buttons- use
        the class name! 

    - Finally... please comment and explain your code! 
      Be detailed for everyone's benefit!!

      --- Love, Anha
*/

/* Style page layout */
body {
    font-family: "Quicksand", sans-serif;
    background-color: #F2E1C1;
    margin: 0;
}

p {
    margin: 0;
}

/* Style the navbar */
.navbar {
    width: 98vw;
    height: 5vh;
    display: flex;
    background-color: #716F81;
    padding: 1vh 1vw;
    flex-wrap: wrap;
    box-shadow: 1px 0 3px black;
    position: relative;
}

/* Style the left side of the navbar */
.navbar-left {
    width: 50%;
    display: flex;
    gap: 1rem;
}

/* Style the right side of the navbar */
.navbar-right {
    width: 50%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

/* Style the buttons in the navbar */
.nav-button {
    background-color: #F6AE99;
    border: none;
    border-radius: 15px;
    font-size: 0.75rem;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0.1px 0.1px 2px black;
    height: 100%;
    cursor: pointer;
}

.nav-button:first-child, .navbar-right .nav-button:last-child {
    width: 45px;
}

/* Style the buttons that have links in the navbar */
.nav-button a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
}

/* Style the search bar */
.search-form {
    display: flex;
    flex-direction: row;
}

/* Search input container helps with relative positioning */
.search-container {
    position: relative;
}

.search-form input {
    padding-left: 30px;
    border: none;
    height: 90%;
    width: 300px;
    border-radius: 15px;
    align-items: left;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0.1px 0.1px 2px black;
}

.search-form input::placeholder {
    font-style: italic;
}

/* Style the search icon */
.search-icon {
    left: 0;
    position: absolute;
    padding: 1.2vh 0 0 1.25vh;
    pointer-events: none;
}

/* Hide hamburger menu in normal display, adjust position */
.nav-menu-open {
    display: none;
    padding-top: 4px;
}

/* Style hidden navbar buttons on mobile */
.mobile-navbar-left {
    height: 0px; /* Hide hamburger menu options in normal display */
    justify-content: center;
    top: 3.5vh;
    position: absolute;
    width: 100%;
    background-color: #716F81;
    padding: 0.75vh 0px 0.75vh 0px;
    gap: 2vw;
    transition: 0.3s;
    z-index: -1;
    display: flex;
    box-shadow: 1px 0 3px black;
}

/* Style the feedback form modal */
.feedback-title {
    height: 10vh;
    padding-top: 0px;
}

.feedback-title h2 {
    margin-top: 5vh;
}

.feedback-form {
    display: flex;
    height: 57vh;
    margin: 0vh 3vw 3vh;
}

.feedback-form textarea {
    height: 80%;
    border: none;
    box-shadow: 1px 0 3px black;
    font-family: "Quicksand", sans-serif;
    padding-left: 1vw;
    padding-top: 2vh;
    resize: none;
    box-sizing: border-box;
    text-wrap: wrap;
}

.feedback-form textarea::placeholder {
    font-style: italic;
}

.feedback-form button {
    margin-top: 2vh;
    width: 30%;
    height: 8%;
    align-self: center;
    background-color: #716F81;
    font-family: "Quicksand", sans-serif;
    border: none;
    box-shadow: 1px 0 3px black;
    font-size: 18px;
    color: white;
}

/* Style the main content layout */
main {
    display: flex;
    height: 88vh;
    width: 100%;
}

/* Style the greeting and card grid */
.content-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    overflow-y: scroll;
}

/* Welcome section styling */
.greeting {
    text-align: left;
    color: black;
    padding: 6vh 1vw 1vh;
}

/* Style list of cards */
.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1% 1%;
    width: 98%;
}

.card-and-modal-container {
    height: 100%;
}

/* Style each card */
.card {
    background-color: #F6AE99;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0.25px 0.25px 2px black;
    cursor: pointer;
}

/* Style the card's image */
.card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 125px;
}

/* Style the text content of the cards */
.card-content, .modal-card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card h3, .modal-card h3 {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 0.5px;
    margin-bottom: 0;
}

.card p, .modal-card p {
    text-align: left;
    margin-bottom: 0.25rem;
    margin-top: 0.2rem;
}

.posted-at {
    color: #716F81;
    font-style: italic;
    align-self: end;
    font-size: 0.75rem;
}

.modal-root {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

/* Style active MODAL */
.modal-card {
    position: absolute;
    background-color: #F6AE99;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 33%;
    overflow-y: scroll;
    box-shadow: 0.25px 0.25px 2px black;
}

/* Style the modal card image */
.modal-card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 275px;
}

/* Style the sidebar */
.sidebar {
    background-color: #F6AE99;
    padding: 0.5rem;
    width: 15%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 1px 2px black;
}

.sidebar h3 {
    text-align: left;
    font-size: 1.3rem;
}

.sidebar label {
    display: block;
}

.food-preferences-selection {
    height: 45%;
    overflow-y: scroll;
}

/* Hide smaller preferences menu button in normal display */
.smaller-preferences {
    display: none;
}

/* Style mobile food preferences menu */
.mobile-preferences-menu {
    display: none; /* Hide mobile preferences selection in normal display */
    align-self: center;
    align-items: center;
    margin: 1vh 1vw;
    justify-content: center;
    padding: 0vh 0 2vh 0;
    gap: 5vw;
    position: relative;
    width: 98vw;
    background-color: #F6AE99;
    border-radius: 15px;
    box-shadow: 0.1px 0.1px 2px black;
}

/* Style mobile dietary preferences selection */
.mobile-food-preference-selection {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/* Style the footer */
footer {
    background-color: #716F81;
    text-align: center;
    color: white;
    padding: 1vh 2vw;
    position: absolute;
    bottom: 0;
    width: 96vw;
    box-shadow: 1px 0 3px black;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 12px;
    font-style: italic;
}


.modal-footer {
    background-color: #F6AE99;
    padding: 8px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal-icons {
    display: flex;
    height: 100%;
    width: 57%;
    gap: 5%;
    justify-content: flex-start;
    padding-left: 2vh;
}
.comments-button, .location-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #716F81;
    border-radius: 15px;
    box-shadow: 0.1px 0.1px 2px black;
    width: 25px;
    height: 40px;
}

.modal-footer .posted-at {
    direction: rtl;
    height: 100%;
    text-align: right;
    white-space: nowrap;
    padding-right: 5%;
}

.modal-comments-section {
    background-color: #fad1c5;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0 3px black;
}
  
.modal-comments-section h3 {
    text-align: center;
    margin-top: 1vh;
}

.modal-comment h4 {
    color: rgb(52, 52, 52);
    font-style: italic;
    background-color: transparent;
    margin: 0;
    font-size: 16px;
}

.modal-comment p {
    color:black;
}

.modal-comment {
    margin-top:0;
    padding: 0.3vh;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
}

.comment-form {
    display: flex;
    margin-top: 1vh;
    padding: 10px 0;
    width: 100%;
    background-color: #716F81;
    margin-left: 0;
    position: sticky;
}

.comment-form input {
    width: 90%;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    margin-bottom: 1vh;
    align-self: center;
    box-shadow: .5px 0 2px black;
    border: none;
    height: 4vh;
}

.comment-form button {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    width: 20%;
    color: white;
    background-color: #F6AE99;
    align-self: center;
    border: none;
    box-shadow: 0.5px 0 2px #000;
    height: 4vh;
}

/* Force hide mobile menus on screens wider than 840px */
@media screen and (min-width: 841px) {
    .mobile-preferences-menu, .mobile-food-preference-selection {
        display: none!important;
    }

    .mobile-navbar-left {
        display: none!important;
    }
}

/* Media query for screens between 840px and 1240px */
@media screen and (max-width: 1280px) {
    /* On a smaller screen, less cards appear in one row */
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Media query for screens between 480px and 840px */
@media screen and (max-width: 840px) {
    /* Hide original create, view cards, and report bugs button */
    .navbar-left .nav-button {
        display: none;
    }

    .navbar-right {
        width: 99%;
        justify-content: center;
        gap: 3%;
    }

    /* Show hamburger menu in smaller displays */
    .nav-menu-open {
        display: flex;
    }

    /* Modify the width of search bar, search bar container, and input */
    .search-form {
        width: 60%;
    }

    .search-container {
        width: 100%;
    }

    .search-form input {
        width: 100%;
    }

    /* Move last button over to accommodate for padding from input (30px) */
    .navbar-right button:last-child {
        margin-left: 32px;
    }

    .navbar-right button:first-child {
        padding-bottom: 4px;
    }

    .navbar-right button {
        height: 5vh;
        width: 45px;
        align-items: center;
        justify-content: center;
    }

    /* Make sure food cards reaches full height of page */
    .content-container {
        width: 100%;
    }

    /* Display menu button for preferences on smaller screen */
    .smaller-preferences {
        display: flex;
        justify-content: right;
    }

    .preferences-button {
        background-color: #F6AE99;
        border: none;
        border-radius: 15px;
        box-shadow: 0.1px 0.1px 2px black;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        padding-top: 5px;
    }

    /* Will display filters in a menu instead of on the side to account for smaller screens*/
    .sidebar {
        display: none;
    }
    
    /* On a smaller screen, less cards appear in one row */
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Make modal container wider on smaller screens */
    .modal-card {
        width: 75%;
    }
}

/* Media query for screens between 0px and 480px */
@media screen and (max-width: 460px) {
    /* On a smaller screen, less cards appear in one row */
    .card-list {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Style the search icon */
    .search-icon {
        padding-top: 1.2vh;
    }

    /* Center greeting on mobile screens */
    .greeting {
        text-align: center;
    }

    /* Make modal container wider on smaller screens */
    .modal-card {
        width: 90%;
    }
}
