/*--------------------------------------------------------------------*/
/* ViewCards.css */
/* Authors: Anha Khan, Arika Hassan, Laiba Ali, Mark Gazzerro, Sami Dalu */
/*--------------------------------------------------------------------*/

/* Style nav bar */
.nav {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #716F81;
    padding: 1vh 1vw;
    box-shadow: 1px 0 3px black;
    margin-bottom: 0;
} 

/* Button back to homepage */ 
.viewcards-header {
    margin: 0;
    color: white;
}

/* TigerFoodies homepage link turns bold on hover */
.viewcards-header a:hover {
    font-weight: bold;
}

.nav a {
    text-decoration: none;
}

/*--------------------------------------------------------------------*/

/* Style page name */
.viewcards-main .page-name {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

/* Style the main content layout */
.viewcards-main {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    overflow-y: auto;
}

.viewcards-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Style list of cards */
.viewcards-card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    padding: 1vh 1vw;
    width: 98vw;
}

/* Style card image */
.viewcards-container .card-image {
    box-shadow: 0px 0px 100px 0px Black inset;
}

/* Style edit and delete buttons */
.card-actions {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    top: 40px;
    right: 5px;
    position: relative;
}

.edit-button, .delete-button {
    border: none;
    border-radius: 15px; /* Rounded buttons */
    cursor: pointer;
    background-color: #716F81;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1vh 1vw;
    color: white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover, .delete-button:hover {
    background-color: #565466;
}

/*--------------------------------------------------------------------*/

/* Media query for screens between 840px and 1240px */
@media screen and (max-width: 1280px) {
    /* On a smaller screen, less cards appear in one row */
    .viewcards-card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*--------------------------------------------------------------------*/

/* Media query for screens between 480px and 840px */
@media screen and (max-width: 840px) {
    /* On a smaller screen, less cards appear in one row */
    .viewcards-card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*--------------------------------------------------------------------*/

/* Media query for screens between 0px and 480px */
@media screen and (max-width: 460px) {
    /* On a smaller screen, less cards appear in one row */
    .viewcards-card-list {
    grid-template-columns: repeat(1, 1fr);
    }
}

/*--------------------------------------------------------------------*/